body{
    margin: 0 auto;
    padding: 0;
    width:1020px;
}
.getQuote {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
}
.getQuote .getQuote-header{
    padding-top: 66px;
    margin-left: 42px;
    height: 100px;
}
.getQuote-header > h1{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 0;

}
.getQuote-header > p{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-top: 26px;
    margin-bottom: 0;
}
.getQuote > .grid{
    display: grid;
    width: 1020px;
    grid-template-columns: 620px 300px ;
    margin-left: 40px;
    grid-gap: 20px;
    margin-top: 50px;
}
#name, #email, #subject{
    width: 619px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    background-color: #d6564f;
    margin-bottom: 15px;

}
#name::placeholder, #email::placeholder, #subject::placeholder{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
}
#description{
    width: 619px;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 0;
}
#description::placeholder{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
}
.contact > h3{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 0;

}
.contact >p{
    width: 300px;

    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}
p > img {
    margin-right: 10px;
}
.getQuoteBottom{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}
/*/////////*/
.footer{
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
}
.footer > p{
    padding-top: 32px;
    margin-top: 0;
    margin-left: 40px;
    color: white;
    opacity: .2;
}