
body{
    margin: auto;
    width: 1020px;
}
.header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}
.header-bottom{
    width: 1020px;
    height: 6px;
    background-color: #323746;
}
.logo{
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    float: left;
    margin-right: 418px;
    margin-top: 40px;
    margin-left:  40px;

}
.logo span{
    color: #f06c64;
}
ul{
    margin-top: 0;
}
li {
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    list-style-type: none;
    float: left;
    margin-left: 30px;

    margin-top: 47px;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #f06c64;
}
.active{
    color: #f06c64;
}


/*sidebar*/


.sidebar{
   height: 600px;
   background-color: #f06c64;
}
.sidebar-bottom{
     width: 1020px;
     height: 5px;
     background-color: #ea676b; }
.left-arrow > img{
    width: 20px;
    color: #ca4549;
    position: relative;
    bottom: 340px;
    left: 40px;

}
.right-arrow > img {
    width: 20px;
    color: #ca4549;
    position: relative;
    bottom: 340px;
    right: -920px;
}

/*services*/
.service{
    background-color: #bababa;
    height: 500px;
}
.services{


    display: flex;
    flex-wrap: wrap;
}
p{
    margin-bottom: 50px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}
h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-left: 43px;
    padding-top: 67px;
    margin-top: 0;
    margin-bottom: 26px;

}


/*sidebar*/
.services {
    margin: 0;
}
.wrapper{
    margin-left: 43px;
    margin-right: 43px;
}
.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
h1{
    margin-top: 64px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 33px;
    margin-bottom: 0px;

}

h3{

    height: 40px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}
.box {
    display: grid;
    border: 0px solid black;
    grid-template-columns: 25% 75%;
}
.box-first{

    margin-right: 10px;
}
.last-paragraph{
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
